/* CSS Document */

#product-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
	grid-auto-rows: 250px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 100px;

}

.wrapper>div {
	background: #eee;
	padding: 1em;
}

#product-nested {
	display: grid;
	grid-template-rows: 80% 10% 10%;
	text-align: center;
}

#product-image {
	width: 200px;
	height: 170px;
}

.productTitle {
	margin-top: 50px;
	text-align: center;
}